body,html{
height:100%;
background-repeat:no-repeat;
background-color:#d3d3d3;
font-family:'oxygen',sans-serif;
}
.main{
	margin-top:70px;
}
h1{ 
    text-align: center;
	font-size:50px;
	font-family:'passion one','cursive';
	font-weight:400;
}
h5{
    color: red;
    margin-left: 450px;
}
hr{
	width:10;
	color:#fff;
}
.form-group{
	margin-bottom:15px;
    height: 30px;
}
label{
	margin-bottom:15px;
}
input,input::-webkit-input-placeholder{
	font-size:11px;
	padding-top:3px;
}
.input-new{
	display: block;
    width: 100%;
    height: 34px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.main-center{
	margin-top: 3px;
	margin: 0 auto;
	max-width: 330px;
	padding: 40px 40px;
}
.login-register{
	font-size: 11px;
	text-align: center;
}
h1{
	text-align: center;
	padding: 20px;
    margin-bottom: 1px;
}
.main-login{
 	background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}
.login-button{
	margin-top:5px;
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    margin-left: 200px;
}
.errors{
    color: red;
    display: none;
    font-size: 9px;
}
label {
    width:180px;
    clear:left;
    padding-right:5px;
}
input, label {
    float:left;
}
.main_div{
        /*width: 70%;*/
    margin-left: 550px;
    border-spacing: 100px;
}
p{
    text-align: center;
    height: 34px;
}
#imp {
   color: red;
}

 #instead{
    margin-top:50px;
}


